  * { 
    border: 1px solid red; 
    outline-offset: -1px;  
  }

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    color: white;
    background: #1f2937;

}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 143px;
  
    font-size: 24px;
    color: #F9FAF8;
}
 
.header-links {
    display: flex;
    margin-left: auto;
    margin-right: 15%;
    justify-content: center;
    display: flex;
    padding: 12px;
    gap: 60px;

}

.awesome-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.secondary-text {
    display: flex;
    size: 18px;
    color: #E5E7EB;
    justify-content: center;
}

.block1 {
    display: flex;
    justify-content: center;

    padding: 24px;
    gap: 40px;
    background: #1f2937; color: white;
}

.block1a {
    display: flex;
    flex-direction: column;

}

.block1b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;


    background-color: #a2a2a2;
}

.block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.random-banner {
    display: flex;
    font-size: 32px;
    font-weight: bolder; 
    color: #1f2937;
    justify-content: center;
}

.illustrations-container {
    display: flex;
    justify-content: center;

}

.ilustration-plus-text {
    display: flex;
}

.illustration-undertext {
    display: flex;
    padding: 2px;
    size: 18px;
    justify-content: center;
    align-items: center;
    color: #1f2937;
}

.illustration {
    border: 2px solid #3882f6;
    margin: 12px;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    padding: 4px;
}

.inspiring-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.quote-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-attribution {
    display: flex;
    font-size: 18px;
    color: #1f2937;
    font-weight: bold;
    margin-left: auto;
    margin-right: 25%;
}

.block4 {
    display: flex;
    justify-content: center;


}

.call-to-action {
    display: flex;
    background-color: #3882f6;
    gap: 20px;
    margin: 40px;
    border-radius: 15px;
    width: 50%;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.call-to-action-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.action-header {
    color: white;
    font-size: 22px;
}

.action-text {
    color: white;
    font-size: 18px;
}

.signup-button-top {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    padding: 12px;
    border-radius: 12px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border: 2px solid #E5E7EB;
    margin: auto; 
    
}

.signup-button-bottom {
    display: flex;
    color: white;
    font-size: 18px;
    padding: 12px;
    border-radius: 12px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border: 2px solid #E5E7EB;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 18px;
    justify-content: center;
    margin-top: auto;
}
